body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    color: #21acac;
    font-family: 'Sacramento', cursive;
    font-size:6.25rem;
    margin: 20px auto 0;
}

h2{
    color: #21acac;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h3{
    color: #11999E;
}

a{
    color: #11999E;
}

hr{
    border-style: none;
    border-top-style: dotted;
    width: 15%;
    color: #6b6b6b;
    size: 10px;
}

.top-container{
    background-color: #b1ecff;
    position: relative;
    padding-top: 150px;
}

.top-cloud{
    position: absolute;
    top: 100px;
    right: 270px;
}

.bottom-cloud{
    position: absolute;
    left: 230px;
    bottom: 300px;
}

.middle-container {
}

.bottom-container {
}

#introduction{
    margin-top: 0;
    font-weight: normal;
}

#introduction-line{
    text-decoration: underline;
}